<p *ngIf="(state$|async)?.loading"> CARGANDO DATA...</p>

  <button (click)="crearInscripcion()" type="button" mat-button> Agregar Inscripcion </button> 
 
 <ul>
    <li *ngFor="let inscripciones of ( state$ | async )?.inscripciones">
        {{ inscripciones.student.nombre + '  -  ' + inscripciones.subject.nombre + '  -  ' + (inscripciones.course.fechaIni | date:'dd/MM/YYYY')}} 
     <button (click)="eliminarInscripcionPorId(inscripciones.id)" mat-icon-button color="primary" type=" button">
        <mat-icon> delete </mat-icon>
     </button>
    </li>
 </ul> 

    



  