
<mat-drawer-container  class="example-container" autosize >

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz0DnVgk-2qQYe-4MgFmbMfeZfk8qqkb0yhg&usqp=CAU">
    <p>{{ (loginUser$ | async)?.nombre }} </p>
    <p>{{ (loginUser$ | async)?.email }} </p>
    <p>{{ (loginUser$ | async)?.role }} </p>  
      <mat-nav-list>
      <ng-container *ngFor="let link of links">
        <a [routerLink]="link.path" 
            mat-list-item 
           *ngIf="!link.allowedRoles.length || (getVeryFyRole(link)| async)">
        <mat-icon>{{link.icon}}</mat-icon>{{ link.title }}</a> 
     </ng-container>
       <a (click)="logout()" mat-list-item> Cerrar Sesion </a>
      </mat-nav-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar color="warn">
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
         <mat-icon >menu</mat-icon>
       </button>
       <span appCambios>Lista</span>
       <span class="example-spacer"></span>
      </mat-toolbar>
      <!-- mi pagina -->
      <main>
        <router-outlet></router-outlet>
      
      </main>
    </div> 
</mat-drawer-container>

