<h1 mat-dialog-title class="w-full"> ABM alumnos</h1>
<div mat-dialog-content>
  <form [formGroup]="alumnosForm">
    <div class="col-12" >
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input [formControl]="nombreControl" type="text" matInput>
           
            <mat-error *ngFor="let error of nombreControl.errors | keyvalue">
                {{ error | erroresSms }}
            </mat-error>
        
        </mat-form-field>
    </div>
    <div class="col-12">
        <mat-form-field >
            <mat-label>Apellido</mat-label>
            <input
               [formControl]="apellidoControl"
               type="text"
               matInput>
               <mat-error *ngFor="let error of apellidoControl.errors | keyvalue">
                {{ error | erroresSms }}
            </mat-error>  
        </mat-form-field>
    </div>
    <div class="col-12">
        <mat-form-field >
            <mat-label>Curso</mat-label>
            <input
               [formControl]="cursoControl"
               type="text"
               matInput>
               <mat-error *ngFor="let error of cursoControl.errors | keyvalue">
                {{ error | erroresSms }}
            </mat-error>
        </mat-form-field>
    </div>
    <div class="col-12">
         <mat-form-field >
               <mat-label>Carrera</mat-label>
            <input [formControl]="carreraControl" type="text" matInput>
            <mat-error *ngFor="let error of carreraControl.errors | keyvalue">
                {{ error | erroresSms }}
            </mat-error>
         </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close="">Cancelar</button>
    <button (click)="guardar()" mat-button>Confirmar</button>
</div>